div(ng-include='"components/navbar/navbar.html"')
div(snap-drawer)#drawers
  div(snap-drawer-left)#leftdrawer
    div
      ul
        li 
          input(
            type='button'
            value='Assets'
            data-ng-click='tree = assets'
            )
        li 
          input(
            type='button'
            value='Classes'
            data-ng-click='tree = clas'
            )
    div(  
     data-angular-treeview="true"
     data-tree-id="leftTree"
     data-tree-model="tree"
     data-node-id="treeId"
     data-node-label="displayName"
     data-node-children="children")
div(snap-content)#content
  a#open-left
